{% extends 'myapp/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="card rounded-3 shadow-lg">
                <br>
                <center>
                    <h1 class="fw-bold text-primary my-4" style="font-size: 2.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">FIND BUS</h3>
                </center>
                <div class="card-body">
                    <form action="{% url 'findbus' %}" method="post" id="find-form">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="source" class="form-label">Source</label><br>
                            <select name="source" id="source" class="form-select">
                                {% for option in options %}
                                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="destination" class="form-label">Destination</label><br>
                            <select name="destination" id="destination" class="form-select">
                                {% for option in options %}
                                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="date" class="form-label">Depature Date</label>
                            <input name="date" id="date" class="form-control" type="date" 
                                value="{% if data.date %}{{ data.date }}{% endif %}" required>
                        </div>

                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endif %}
                    </form>
                </div>

                <div class="card-footer text-center">
                    <button class="btn btn-primary w-100" form="find-form">Check Availability</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
