{% extends 'myapp/base_admin.html' %}
{% block content %}
<h2>View Reservations</h2>

<!-- Table to display reservations -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Reservation ID</th>
      <th>Bus Unique ID</th>
      <th>Customer Name</th>
      <th>Total Fare</th>
      <th>Status</th>
      <th>Reservation Date</th>
    </tr>
  </thead>
  <tbody>
    {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.bus.bus_number }}</td>
        <td>{{ reservation.passenger.name }}</td>
        <td>{{ reservation.bus.fare }}</td>
        <td>{{ reservation.status }}</td>
        <td>{{ reservation.reservation_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
